<div class="task">
  <div class="task-details" [appTooltip]="item">
    <mat-icon
      class="btn-change"
      (click)="onClickDone()"
      fontIcon="done"
      [ngStyle]="{
        'background-color': item.done ? '#00c400' : null
      }"
    ></mat-icon>

    <div class="task-text">
      <p>{{ item.name }}</p>
      <p
        class="date"
        *ngIf="this.item.deadline"
        [ngStyle]="{
          color: sameDates() ? 'red' : 'green'
        }"
      >
        DL: {{ item.deadline | date: "d MMM, yyyy" }}
      </p>
      <button (click)="onClickEdit()">edit</button>
    </div>
  </div>

  <mat-icon
    class="btn-delete"
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="delete"
    (click)="onClickDelete()"
  ></mat-icon>
</div>
