/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tooltip-container {
  text-align: center;
  z-index: 100;
  position: fixed;
  padding: 0.5rem 0.75rem;
  font-size: 0.66rem;
  border-radius: 1rem;
  font-weight: 500;
  color: white;
  background: hsla(0, 0%, 0%, 0.9);
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.mat-list-item-content {
  display: block !important;
}
